### common ###  
importFrom("graphics", "par", "plot", "plot.new", "plot.window")
importFrom("stats", "convolve", "ts")

### tolDating ###
importFrom("lubridate","ymd")
export("Date")
S3method("print", "Dating")
importFrom("lubridate","round_date","floor_date","ceiling_date")
importFrom("lubridate","as.duration","new_interval")
export("Dbelong","Dseq","Dsucc","Dfloor","Dceiling","Dround","Ddiff")
export("Yearly","Monthly","Weekly","Daily")
importFrom("lubridate","year","month","period")
S3method("Dbelong", "Dating")
S3method("Dseq", "Dating")
S3method("Dsucc", "Dating")
S3method("Dfloor", "Dating")
S3method("Dceiling", "Dating")
S3method("Dround", "Dating")
S3method("Ddiff", "Dating")
S3method("Ddiff", "Yearly")
S3method("Ddiff", "Monthly")
S3method("Ddiff", "Weekly")
S3method("Ddiff", "Daily")
export("Mondays","Tuesdays","Wednesdays","Thursdays","Fridays","Saturdays","Sundays")
S3method("Dbelong", "Weekdays")
S3method("Dseq", "Weekdays")
S3method("Dsucc", "Weekdays")
S3method("Dfloor", "Weekdays")
S3method("Dceiling", "Weekdays")
S3method("Dround", "Weekdays")
S3method("Ddiff", "Weekdays")
export("Quarterly", "HalfYearly")
S3method("Dbelong", "NMonthly")
S3method("Dseq", "NMonthly")
S3method("Dsucc", "NMonthly")
S3method("Dfloor", "NMonthly")
S3method("Dceiling", "NMonthly")
S3method("Dround", "NMonthly")
S3method("Ddiff", "NMonthly")
export("DateSet")
S3method("Dbelong", "DateSet")
S3method("Dseq", "DateSet")
S3method("Dsucc", "DateSet")
S3method("Dfloor", "DateSet")
S3method("Dceiling", "DateSet")
S3method("Dround", "DateSet")
S3method("Ddiff", "DateSet")
export(".Dating")
export("Dfind", "Dcheck")

### tolPolyn ###
export("Polyn")
export("as.Polyn")
S3method("as.Polyn", "Polyn")
S3method("as.Polyn", "default")
export("B", "A")
importFrom("polynom", "polynomial")
S3method("as.character", "Polyn")
S3method("print", "Polyn")
S3method("+", "Polyn")
S3method("-", "Polyn")
S3method("*", "Polyn")
S3method("/", "Polyn")
S3method("^", "Polyn")
S3method("[", "Polyn")
S3method("==", "Polyn")
S3method("!=", "Polyn")
S3method("<", "Polyn")
S3method("<=", "Polyn")
S3method(">", "Polyn")
S3method(">=", "Polyn")

### tolRatio ###
export("Ratio")
export("as.Ratio")
S3method("as.Ratio", "Ratio")
S3method("as.Ratio", "Polyn")
S3method("as.Ratio", "default")
S3method("as.character", "Ratio")
S3method("print", "Ratio")
export("Rnumerator","Rdenominator")
S3method("+", "Ratio")
S3method("-", "Ratio")
S3method("*", "Ratio")
S3method("/", "Ratio")
S3method("^", "Ratio")
S3method("==", "Ratio")
S3method("!=", "Ratio")
S3method("<", "Ratio")
S3method("<=", "Ratio")
S3method(">", "Ratio")
S3method(">=", "Ratio")

### tolSerie ###
export("Serie")
S3method("print", "Serie")
export("Sdating","Sfirst","Slast","Ssub","Sdates")
S3method("Sdating", "Serie")
S3method("Sfirst", "Serie")
S3method("Slast", "Serie")
S3method("Ssub", "Serie")
S3method("Sdates", "Serie")
S3method("+", "Serie")
S3method("-", "Serie")
S3method("*", "Serie")
S3method("/", "Serie")
S3method("^", "Serie")
S3method("[", "Serie")
export("as.Serie")
importFrom("stats", "as.ts")
S3method("as.Serie", "ts")
S3method("as.ts", "Serie")
S3method("as.Serie", "xts")
export("as.xts.Serie")
export("plot.Serie")
S3method("plot", "Serie")
export("%:%")